*{
    margin:0;
    padding:0;

}

h1{
    color:rgb(14, 1, 125);
}
 img{
    width: 200px;
 }

.facebook{
    color:blue;
}
/* this is where my list starts */
.food{
    background-color:chartreuse;
}

#sample{
    background-color: burlywood;
    /* border-color:3px rgba(0, 0, 0, 0.027) solid; */
    border:5px red solid;
    
}

.first{
    border-style: dotted;
    margin:10px 15px;
    padding:30px;
}

/* My flexbox properties */
/* .container{
    background-color:aqua;

} */

.childContainer{
    background-color: blueviolet;
    display: flex;
    /* flex-direction: row; */
    /* gap:10px; */
    justify-content: space-between;
}

/* blue container */
.blue-container{
    border:3px blue solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-items{
    border:2px orangered solid;
    margin:5px;
    height:80px;
    width:50px;
}

.mine{
    color:blue;
}
/* last container */
.last{
    border:1px grey solid;
    display: flex;
    
}

.my-image{
    width:30px;
    border-radius: 50%;
   
}

/* Bootstrap work */
.oranges{
    background-color:orangered;
}