/* *{
    background-color: aquamarine;

} */
h1{
    color:rgb(14, 1, 125);
}
 img{
    width: 200px;
 }

.facebook{
    color:blue;
}
/* this is where my list starts */
.food{
    background-color:chartreuse;
}